spec/fixtures/OneFileUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/UserService/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             name="UserService" targetNamespace="http://example.com/UserService/">
  <types>
    <xs:schema xmlns:tns="http://example.com/UserService/type/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
               targetNamespace="http://example.com/UserService/type/" version="1.0">

      <xs:element name="getFirstName" type="tns:GetFirstName"/>
      <xs:element name="getLastName" type="tns:GetLastName"/>

      <xs:complexType name="GetFirstName">
        <xs:annotation>
          <xs:documentation>Foo Bar</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="userIdentifier" type="xs:string" minOccurs="0"/>
          <xs:element name="filter" minOccurs="0">
            <xs:complexType>
              <xs:sequence>
                <xs:element ref="tns:age"/>
                <xs:element ref="tns:gender"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
      </xs:complexType>

      <xs:complexType name="GetLastName">
        <xs:annotation>
          <xs:documentation>Foo Bar</xs:documentation>
        </xs:annotation>
        <xs:complexContent>
          <xs:restriction base="tns:GetFirstName">
            <xs:sequence>
              <xs:element name="userIdentifier" type="xs:string" minOccurs="0"/>
            </xs:sequence>
          </xs:restriction>
        </xs:complexContent>
      </xs:complexType>

      <xs:element name="gender">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="male"/>
            <xs:enumeration value="female"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="age">
        <xs:simpleType>
          <xs:restriction base="xs:integer">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="100"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:schema>
  </types>

  <message name="getFirstName">
    <part name="parameters" element="tns:GetFirstName"/>
  </message>
  <message name="getLastName">
    <part name="parameters" element="tns:GetLastName"/>
  </message>

  <message name="UserNameResponse">
    <part name="parameters" element="xs:string"/>
  </message>

  <portType name="UserService">
    <operation name="getFirstName">
      <input message="tns:getFirstName"/>
      <output message="tns:UserNameResponse"/>
    </operation>
    <operation name="getLastName">
      <input message="tns:getLastName"/>
      <output message="tns:UserNameResponse"/>
    </operation>
  </portType>

  <binding name="UserServicePortBinding" type="tns:UserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getFirstName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLastName">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="UserService">
    <port name="UserServicePort" binding="tns:UserServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>

</definitions>
