spec/fixtures/UserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://example.com/UserService/"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             name="UserService" targetNamespace="http://example.com/UserService/">
  <types>
    <xs:schema>
      <xs:import namespace="http://example.com/UserService/type/"
                 schemaLocation="UserService.xsd"/>
    </xs:schema>
  </types>

  <message name="getFirstNameRequest">
    <part name="parameters" element="tns:GetFirstName"/>
  </message>
  <message name="getLastNameRequest">
    <part name="parameters" element="tns:GetLastName"/>
  </message>

  <message name="userNameResponse">
    <part name="parameters" element="xs:string"/>
  </message>

  <portType name="UserService">
    <operation name="getFirstNameOperation">
      <input message="tns:getFirstNameRequest"/>
      <output message="tns:userNameResponse"/>
    </operation>
    <operation name="getLastNameOperation">
      <input message="tns:getLastNameRequest"/>
      <output message="tns:userNameResponse"/>
    </operation>
  </portType>

  <binding name="UserServicePortBinding" type="tns:UserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getFirstNameOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLastNameOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <binding name="UserServicePortBinding2" type="tns:UserService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getLastNameOperation">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="UserService">
    <port name="UserServicePort" binding="tns:UserServicePortBinding">
      <soap:address location="http://service-host.org/userService"/>
    </port>
  </service>

</definitions>
